body,html {
	margin:0;
    padding:0;
    }
		
		body{
			background-color:#D3D3D3;
		}
		
		h1,h2,h3,h4,h5,p,a,li,ul{
			font-family:Arial,sans-serif;
			color:#black
			text-decoration:none;
		}
		
		table {
		width: 500px; 
		}
		
		#nav{
			margin:50px auto 0 auto;
			width: 1000px;
			background-color:#8BA8AF;
			height: 15px;
			padding: 20px;
		}
		
		#nav ul{
			list-style: none;
			float: left;
			margin 0 50px;
		}
		
		#nav ul li{
			display:inline;
			
		}
		
		#nav a:hover{
			color:#008080;
		}
		#nav a{
			color:#000000;
		}
		
		#content{
			width:1000px;
			min-height:100%;
			margin: 0 auto;
			padding: 20px;
			
		}
		
		table, th, td {
    border: 1px solid black;
    padding: 4px;
}
		
		#submit{
			width:300px;
			min-height:100%;
			margin: 0 auto;
			padding: 20px;
            clear: both;

			
		}
		
		#submit input  {
        width: 100%;
        clear: both;
        
    }
    
    #submit select  {
        width: 100%;
        clear: both;
        
    }
    
    
		
		#footer{
			width:400px;
			min-height:15px;
			margin: 0 auto;
			padding: 20px;
		}